lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# Build
public/css/main.css

# Coverage reports
coverage

# API keys and secrets
.env

# Dependency directory
node_modules
build
bower_components
cache/auth.json

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

# ignore yarn.lock
yarn.lock
cache/*



# formats temp media
assets/temp/*.png
assets/temp/*.jpg
assets/temp/*.jpeg
assets/temp/*.webp
assets/temp/*.gif
assets/temp/*.mp4
assets/temp/*.mp3
assets/temp/*.pdf